PRIVATE_KEY=-----BEGIN EC PRIVATE KEY-----MHQCAQEEIDua9h//hHYsePj+CAbAzgyQPCTfGWzcQDLpjdg0dI5NoAcGBSuBBAAKoUQDQgAEQV7IVHIwLsipHylmx1vAfo1mlbHLnj+TRxLZacP7vqZDttzib5XKqu7ml/GHLRcnvurfCp9Lr7H2q1zWCupT2g==-----END EC PRIVATE KEY-----
PROJECT_ID=4873484203196416